.player-container {
    position: relative;
    height: auto;
    max-height: 720px;
    max-width: 1080px;
    width: calc(100% - 16px);
    margin:  0.7%;
    overflow: hidden;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
