.player-container {
    position: relative;
   height: max-content;
    width: calc(100% - 5%) !important;
    margin: 0.8% auto;
    max-height: 720px;
    background-color: rgba(0,0,0,var(--un-bg-opacity));
    /* margin:  0.7%; */
    overflow: hidden;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.video-page {
    display: grid;
    grid-template-columns: 2fr 1fr;

}


.player-container video {
    height: 100%;
    object-fit: contain;
    object-position: center;
}


@media screen and (max-width: 1280px) {
    .video-page {
        grid-template-columns: 1fr;
        row-gap: 28px;
    }
}



